.name-per{
    margin-left: 20px;
}
.navbarst{
    margin-left: auto;
}
.navbar-toggler{
    margin-left: auto;
}
.dhp{
    margin-left: -700px;
    
}
.dhpimg{
    margin-left: 670px;
}
.bsstxt{
    margin-left: 670px;
}